.border {
    margin-top: 48px;
    display: flex;
    justify-content: center;

    &__ul {
        display: flex;

        &__li:nth-child(1) {
            height: 52px;
            width: 209px;
            background-color: #008F76;
            border-radius: 20px;
            padding: 10px, 24px, 10px, 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffff;
            margin-right: 48px;
        }

        &__li:nth-child(2) {
            height: 52px;
            width: 251px;
            border-radius: 20px;
            padding: 10px, 24px, 10px, 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: #008F76;
            color: #008F76;
            border: 1px solid #008F76;
        }

        &__li {


            &--img {
                width: 24px;
                height: 24px;
                margin: 0px 0px 0px 12px;
            }

            &__image {
                width: 24px;
                height: 24px;
                margin-left: 10px;
            }
        }

    }


}