.color {
    color: rgba(0, 143, 118, 1);
    font-weight: 500;
    margin-left: 3px;
    margin-right: 3px;
}

.color1 {
    margin-right: 3px;
    color: rgba(0, 143, 118, 1);
    font-weight: 500;
    font-family: 'Gentium Plus', serif;



    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}