.footer__center {
    height: 60px;
    width: 1440px;

    margin-left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 143, 118, 1);
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);


    &--weight {
        height: 21px;
        width: 21px;
        left: 1.5px;
        top: 1.5px;
        border-radius: 0px;
        display: flex;
        align-items: center;
        margin-right: 17.5px;
    }


}