.text {

    display: flex;

    justify-content: center;
    margin-top: 48px;
    margin-bottom: 100px;

    &__div {
        margin-right: 39px;
        height: 228px;
        width: 596px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
        padding: 30px;

        background: #FFFFFF;
        box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 5px;


        &__list {


            &__ul {

                &--li {
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;


                }

            }


        }

        &__item {
            display: flex;
            margin-left: 84px;
            margin-top: 24px;


            &__img {
                display: flex;
                margin: 0px 16px 0px 0px;
            }

            &__ul {
                &--li:nth-child(1) {
                    height: 32px;
                    width: 150px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;


                }

                &--li:nth-child(2) {
                    height: 32px;

                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(148, 148, 148, 1);

                }

                &--li {
                    list-style: none;
                }

            }


        }





        &__item1 {
            display: flex;

            margin-top: 24px;

            &__img1 {

                margin: 0px 16px 0px 0px;
            }

            &__ul1 {
                &--li:nth-child(1) {
                    height: 32px;
                    width: 150px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;


                }

                &--li1:nth-child(2) {
                    height: 32px;

                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(148, 148, 148, 1);

                }

                &--li1 {
                    list-style: none;
                }

            }


        }
    }


}